*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: rgb(20, 20, 20);
}
h1{
    font-size: 4rem;
    font-weight: 50;
    margin: 2.6rem 0 4rem;
    text-align: center;
    color:white;
}
.heading{
    font-weight: 800;
    color: lime;
}
.input_div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input_div .input{
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    background-color: white;
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
}

.addBtn{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(9, 252, 9);
    margin: 0.25rem;
    cursor: pointer;
}
.addBtn:hover{
    opacity: 0.9;
    color: lime;
    background-color: black;
}
.delAllBtn{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    background-color: red;
    margin: 0.25rem;
    cursor: pointer;
}   
.delAllBtn:hover{
    opacity: 0.9;
    color: red;
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}
.item{
    margin-right: 3.5rem;
    padding: 0.6rem;
    margin-bottom: 1.5rem;
    border-bottom: 6px solid rgb(231, 220, 220);
}
.item_input{
    background-color: none;
    outline: none;
    color: white;
    border: none;
    width: 350px;
    font-size: 1.5rem;
    
    
}
.editBtn{
    font-size: 1.4rem;
    margin: 0 0.5rem;
    background: none;
    color: rgb(17, 250, 17);
    border: none;
    cursor: pointer;
}
.editBtn:hover{
    opacity: 0.9;
    color: rgb(93, 211, 93);
    background-color: rgb(17, 17, 17);
}

.removeBtn{
    font-size: 1.4rem;
    margin: 0 0.5rem;
    background: none;
    color: rgb(235, 14, 14);
    border: none;
    cursor: pointer;
}
.removeBtn:hover{
    opacity: 0.9;
    color: maroon;
    background-color: rgb(27, 23, 23);
}




























